
<table class="table">
  <thead>
    <td>Name</td>
    <td>Description</td>
    <td>Number of Stars</td>
    <td>Number of issues</td>
    <td>Username</td>
    <td>Avatar</td>
  </thead>
  <tbody>
    <tr *ngFor = "let repo of repositories.items">
      <td>{{repo.name}}</td>
      <td>{{repo.description}}</td>
      <td>{{repo.stargazers_count}}</td>
      <td>{{repo.open_issues_count}}</td>
      <td>{{repo.owner.login}}</td>
      <td><img class="avatar" src="{{repo.owner.avatar_url}}" alt=""></td>

    </tr>
  </tbody>
</table>
